<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.robwalton.alfred-ulysses-workflow</string>
	<key>connections</key>
	<dict>
		<key>00659145-0CEA-422B-A253-D70928DC6CC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>18104AA0-772A-4E62-BFE9-AB021444E7B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0081F279-3540-4D3D-B6EF-77D6BAC59961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00BD6A29-202D-43EC-AA4A-938C4536971B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73DEDE47-4567-41B2-8451-CD99D7C4A688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>00BD6A29-202D-43EC-AA4A-938C4536971B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18104AA0-772A-4E62-BFE9-AB021444E7B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32191D19-A476-42F9-AB5C-85DAFC4AC58C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</key>
		<array/>
		<key>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31247F5F-C0FC-46BB-AEEB-33B53A0EA869</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51639D3C-CF18-491E-846B-4C6771C1CFA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69DDE1AD-4895-406B-888A-A97187FD7D97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69DDE1AD-4895-406B-888A-A97187FD7D97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0081F279-3540-4D3D-B6EF-77D6BAC59961</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73DEDE47-4567-41B2-8451-CD99D7C4A688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570D9B3F-6F65-4691-8316-4FA72F721DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79767E79-7CDE-4F19-9743-378A6071DA2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D4D1AE2-9B65-4AAE-A2A1-E5BED93E012E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93302667-ABA4-40C9-BB0B-B788FD818178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79767E79-7CDE-4F19-9743-378A6071DA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFDF7A50-3DFD-4F18-AD1F-5FBDD6B5202A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F5A4BC1-5297-4C87-9B3A-783787C68CEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFED13DD-773D-419D-9EEB-695267FCCF4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFDF7A50-3DFD-4F18-AD1F-5FBDD6B5202A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F384B949-9A4E-45AF-9E6E-69374567C35F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>18104AA0-772A-4E62-BFE9-AB021444E7B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rob Walton</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ulysses</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys, os
from subprocess import check_output

readme = check_output('/usr/libexec/PlistBuddy -c "Print readme" info.plist', shell=True)
workflow_version = os.environ['SemVer']

msg = """
# Ulysses Workflow -v %(workflow_version)s #

%(readme)s
""" % locals()


sys.stdout.write(msg)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BFDF7A50-3DFD-4F18-AD1F-5FBDD6B5202A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>u:help</string>
				<key>subtext</key>
				<string>Show commands (u:help)</string>
				<key>text</key>
				<string>Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EFED13DD-773D-419D-9EEB-695267FCCF4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8F5A4BC1-5297-4C87-9B3A-783787C68CEE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>31247F5F-C0FC-46BB-AEEB-33B53A0EA869</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>o</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Ulysses Open Dialogue</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93302667-ABA4-40C9-BB0B-B788FD818178</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Ulysses.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>79767E79-7CDE-4F19-9743-378A6071DA2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>us</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import sys
import alfred_ulysses
import json

items = alfred_ulysses.script_filter_items(alfred_ulysses.SHEET)
sys.stdout.write(json.dumps({'items': items}))
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Ulysses Sheet</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D4D1AE2-9B65-4AAE-A2A1-E5BED93E012E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>u</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import sys
import alfred_ulysses
import json

items = alfred_ulysses.script_filter_items(alfred_ulysses.ALL)
sys.stdout.write(json.dumps({'items': items}))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Ulysses Item</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>00659145-0CEA-422B-A253-D70928DC6CC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ug</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import sys
import alfred_ulysses
import json
items = alfred_ulysses.script_filter_items(alfred_ulysses.GROUP)
sys.stdout.write(json.dumps({'items': items}))
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Ulysses Group</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F384B949-9A4E-45AF-9E6E-69374567C35F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>SingleLevelSearch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>32191D19-A476-42F9-AB5C-85DAFC4AC58C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>18104AA0-772A-4E62-BFE9-AB021444E7B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>00BD6A29-202D-43EC-AA4A-938C4536971B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import sys, os
import json
import alfred_ulysses


group_path = os.environ['search_in']
sys.stderr.write("Searching in: " + group_path)


items = alfred_ulysses.script_filter_items(alfred_ulysses.ALL, group_path)
sys.stdout.write(json.dumps({'items': items}))

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0081F279-3540-4D3D-B6EF-77D6BAC59961</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>SingleLevelSearch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>51639D3C-CF18-491E-846B-4C6771C1CFA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.05</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>69DDE1AD-4895-406B-888A-A97187FD7D97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>SingleLevelSearch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>570D9B3F-6F65-4691-8316-4FA72F721DDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>73DEDE47-4567-41B2-8451-CD99D7C4A688</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See packal.org/workflow/ulysses for full instructions

# Keywords #

- u:help			Show a brief summary of commands
- u 				Open group or sheet (cmd-return to drill down)
- ug				Open group (cmd-return to drill down)
- us				Open sheet
- uo &lt;arg&gt;		Search for &lt;arg&gt; within Ulysses’ Open dialogue</string>
	<key>uidata</key>
	<dict>
		<key>00659145-0CEA-422B-A253-D70928DC6CC7</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>0081F279-3540-4D3D-B6EF-77D6BAC59961</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>00BD6A29-202D-43EC-AA4A-938C4536971B</key>
		<dict>
			<key>note</key>
			<string>var:search_in == ""</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>18104AA0-772A-4E62-BFE9-AB021444E7B2</key>
		<dict>
			<key>note</key>
			<string>var:search_in != ""</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>31247F5F-C0FC-46BB-AEEB-33B53A0EA869</key>
		<dict>
			<key>note</key>
			<string>Copy and paste {query} into 'Open' dialogue field</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>32191D19-A476-42F9-AB5C-85DAFC4AC58C</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>51639D3C-CF18-491E-846B-4C6771C1CFA5</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>570D9B3F-6F65-4691-8316-4FA72F721DDF</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>69DDE1AD-4895-406B-888A-A97187FD7D97</key>
		<dict>
			<key>note</key>
			<string>Work aroud racecondition in variable to python</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>73DEDE47-4567-41B2-8451-CD99D7C4A688</key>
		<dict>
			<key>note</key>
			<string>var:search_in != ""</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>79767E79-7CDE-4F19-9743-378A6071DA2C</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>7D4D1AE2-9B65-4AAE-A2A1-E5BED93E012E</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>8F5A4BC1-5297-4C87-9B3A-783787C68CEE</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>93302667-ABA4-40C9-BB0B-B788FD818178</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>BFDF7A50-3DFD-4F18-AD1F-5FBDD6B5202A</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>EFED13DD-773D-419D-9EEB-695267FCCF4C</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F384B949-9A4E-45AF-9E6E-69374567C35F</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</key>
		<dict>
			<key>note</key>
			<string>var:search_in == ""</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SemVer</key>
		<string>.9.0</string>
	</dict>
	<key>version</key>
	<string>.9.0</string>
	<key>webaddress</key>
	<string>github.com/robwalton/alfred-ulysses-workflow</string>
</dict>
</plist>
