<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.robwalton.alfred-ulysses-workflow</string>
	<key>connections</key>
	<dict>
		<key>00659145-0CEA-422B-A253-D70928DC6CC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>18104AA0-772A-4E62-BFE9-AB021444E7B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0081F279-3540-4D3D-B6EF-77D6BAC59961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00BD6A29-202D-43EC-AA4A-938C4536971B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73DEDE47-4567-41B2-8451-CD99D7C4A688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>00BD6A29-202D-43EC-AA4A-938C4536971B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18104AA0-772A-4E62-BFE9-AB021444E7B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32191D19-A476-42F9-AB5C-85DAFC4AC58C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF6BADBE-B2C7-4FDC-937B-A6BD2DE8CB7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31247F5F-C0FC-46BB-AEEB-33B53A0EA869</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51639D3C-CF18-491E-846B-4C6771C1CFA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69DDE1AD-4895-406B-888A-A97187FD7D97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E5DAD91-5B27-49C8-A06E-91755374AAFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A59F421D-B415-4617-BF35-68E721C05B26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69DDE1AD-4895-406B-888A-A97187FD7D97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0081F279-3540-4D3D-B6EF-77D6BAC59961</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>706835D1-B6A5-4C13-BB95-B0345C03AF2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF03267C-4E8A-4774-BE9F-B9526C2A1863</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73DEDE47-4567-41B2-8451-CD99D7C4A688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570D9B3F-6F65-4691-8316-4FA72F721DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79767E79-7CDE-4F19-9743-378A6071DA2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D4D1AE2-9B65-4AAE-A2A1-E5BED93E012E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93302667-ABA4-40C9-BB0B-B788FD818178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79767E79-7CDE-4F19-9743-378A6071DA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A59F421D-B415-4617-BF35-68E721C05B26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D25B7FD6-0BB6-41C2-A093-C5DDF80A5341</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B863CF57-7996-4E7A-943C-AA825002824E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59067D09-CAB1-479C-91EB-B41247C95E4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D25B7FD6-0BB6-41C2-A093-C5DDF80A5341</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3815FE07-095F-4DE0-8C03-381CECC44FDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF6BADBE-B2C7-4FDC-937B-A6BD2DE8CB7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B863CF57-7996-4E7A-943C-AA825002824E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F384B949-9A4E-45AF-9E6E-69374567C35F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>18104AA0-772A-4E62-BFE9-AB021444E7B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB4DF08D-791C-4835-8DD2-737A778E5D3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D4943A5-2135-4285-87CF-E842DBB1D7A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rob Walton</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ulysses</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys, os
workflow_version = os.environ['SemVer']
sys.stdout.write(workflow_version)
#from subprocess import check_output
#readme = check_output('/usr/libexec/PlistBuddy -c "Print readme" info.plist', shell=True)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A59F421D-B415-4617-BF35-68E721C05B26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>version: {query}</string>
				<key>title</key>
				<string>Opening help for Ulysses wokflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D25B7FD6-0BB6-41C2-A093-C5DDF80A5341</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>u:help</string>
				<key>subtext</key>
				<string>Show commands (u:help)</string>
				<key>text</key>
				<string>Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5E5DAD91-5B27-49C8-A06E-91755374AAFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/robwalton/alfred-ulysses-workflow/blob/master/README.md</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3815FE07-095F-4DE0-8C03-381CECC44FDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import ulysses_view
view_to_set = sys.argv[1]
ulysses_view.set_view_setting("group", view_to_set)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D4943A5-2135-4285-87CF-E842DBB1D7A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>u:setgroupview</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python ulysses_view.py "group"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose view to open groups in</string>
				<key>title</key>
				<string>Set Ulysses group view (u:setgroupview)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FB4DF08D-791C-4835-8DD2-737A778E5D3F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import ulysses_view
view_to_set = sys.argv[1]
ulysses_view.set_view_setting("sheet", view_to_set)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF03267C-4E8A-4774-BE9F-B9526C2A1863</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>u:setsheetview</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python ulysses_view.py "sheet"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose view to open sheets in</string>
				<key>title</key>
				<string>Set Ulysses sheet view (u:setsheetview)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>706835D1-B6A5-4C13-BB95-B0345C03AF2B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>31247F5F-C0FC-46BB-AEEB-33B53A0EA869</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>o</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Ulysses Open Dialogue</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93302667-ABA4-40C9-BB0B-B788FD818178</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Ulysses.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>79767E79-7CDE-4F19-9743-378A6071DA2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>us</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python ulysses_items.py "sheet"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Ulysses Sheet</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D4D1AE2-9B65-4AAE-A2A1-E5BED93E012E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys, os

import ulysses_view

node_type = os.environ['node_type']
sys.stdout.write(ulysses_view.get_view_setting(node_type))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF6BADBE-B2C7-4FDC-937B-A6BD2DE8CB7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>u</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python ulysses_items.py "all"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Ulysses Item</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>00659145-0CEA-422B-A253-D70928DC6CC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	repeat until application "Ulysses" is running
		delay .5
	end repeat	try		#activate application "Ulysses"		set viewToOpen to item 1 of argv		#delay .2		tell application "System Events" to tell process "Ulysses"			tell menu item viewToOpen of menu "View" of menu bar item "View" of menu bar 1				if value of attribute "AXMenuItemMarkChar" is not "✓" then click			end tell		end tell	on error errStr number errorNumber		if the errorNumber is equal to -1719 then			set theAlertText to "Cannot change the View setting in Ulysses."			set theAlertMessage to errStr &amp; "
			
Allow Alfred access in the Accessibility section of the Privacy tab of your Mac's Security &amp; Privacy System preferences; or use u:setsheetview and u:setgroupview to se both to Default."						display alert theAlertText message theAlertMessage as critical buttons {"Cancel", "Open Preferences"} default button "Open Preferences" cancel button "Cancel"			--&gt; Result: {button returned:"Open Preferences"}						tell application "System Preferences"				activate				set current pane to pane "com.apple.preference.security"			end tell		else			-- An unknown error occurred. Resignal, so the caller			-- can handle it, or AppleScript can display the number.			error errStr number errorNumber		end if	end tryend run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59067D09-CAB1-479C-91EB-B41247C95E4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>B863CF57-7996-4E7A-943C-AA825002824E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>ug</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python ulysses_items.py "group"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Ulysses Group</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F384B949-9A4E-45AF-9E6E-69374567C35F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>18104AA0-772A-4E62-BFE9-AB021444E7B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>00BD6A29-202D-43EC-AA4A-938C4536971B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>SingleLevelSearch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>51639D3C-CF18-491E-846B-4C6771C1CFA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python ulysses_items.py "group" "$search_in"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0081F279-3540-4D3D-B6EF-77D6BAC59961</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>SingleLevelSearch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>32191D19-A476-42F9-AB5C-85DAFC4AC58C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>SingleLevelSearch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>570D9B3F-6F65-4691-8316-4FA72F721DDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:search_in}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>73DEDE47-4567-41B2-8451-CD99D7C4A688</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.05</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>69DDE1AD-4895-406B-888A-A97187FD7D97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See packal.org/workflow/ulysses for full instructions

# Keywords #

- u:help			Show a brief summary of commands
- u 				Open group or sheet (cmd-return to drill down)
- ug				Open group (cmd-return to drill down)
- us				Open sheet
- uo &lt;arg&gt;		Search for &lt;arg&gt; within Ulysses’ Open dialogue

- u:setsheetview      Set the view into switch to after opening a sheet (defaults to 'Editor Only')
- u:setgroupview      Set the view into switch to after opening a group (defaults to 'Sheets')</string>
	<key>uidata</key>
	<dict>
		<key>00659145-0CEA-422B-A253-D70928DC6CC7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>0081F279-3540-4D3D-B6EF-77D6BAC59961</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>00BD6A29-202D-43EC-AA4A-938C4536971B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>var:search_in == ""</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>18104AA0-772A-4E62-BFE9-AB021444E7B2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>var:search_in != ""</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>2D4943A5-2135-4285-87CF-E842DBB1D7A9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>31247F5F-C0FC-46BB-AEEB-33B53A0EA869</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Copy and paste {query} into 'Open' dialogue field</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>32191D19-A476-42F9-AB5C-85DAFC4AC58C</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>3815FE07-095F-4DE0-8C03-381CECC44FDD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>4C61D21B-23C8-47CE-A5C9-8E8265841D8E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>4D3DEADF-FC0D-4085-ACA7-3A1CCE6865A9</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>51639D3C-CF18-491E-846B-4C6771C1CFA5</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>570D9B3F-6F65-4691-8316-4FA72F721DDF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>59067D09-CAB1-479C-91EB-B41247C95E4E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Switch to configured view BUT OSX needs alfred accesibility access</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>5E5DAD91-5B27-49C8-A06E-91755374AAFF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>69DDE1AD-4895-406B-888A-A97187FD7D97</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Work aroud racecondition in variable to python</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>706835D1-B6A5-4C13-BB95-B0345C03AF2B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>73DEDE47-4567-41B2-8451-CD99D7C4A688</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>var:search_in != ""</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>79767E79-7CDE-4F19-9743-378A6071DA2C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>7D4D1AE2-9B65-4AAE-A2A1-E5BED93E012E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>93302667-ABA4-40C9-BB0B-B788FD818178</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>A59F421D-B415-4617-BF35-68E721C05B26</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>AF03267C-4E8A-4774-BE9F-B9526C2A1863</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>B863CF57-7996-4E7A-943C-AA825002824E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>D25B7FD6-0BB6-41C2-A093-C5DDF80A5341</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>EF6BADBE-B2C7-4FDC-937B-A6BD2DE8CB7F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>get configured view setting</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>F384B949-9A4E-45AF-9E6E-69374567C35F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>FB4DF08D-791C-4835-8DD2-737A778E5D3F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FC69CC4D-F5E4-4A9F-AA3E-0F5ED7B7E8DD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>var:search_in == ""</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SemVer</key>
		<string>.9.1</string>
	</dict>
	<key>version</key>
	<string>.9.1</string>
	<key>webaddress</key>
	<string>github.com/robwalton/alfred-ulysses-workflow</string>
</dict>
</plist>
